@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

html body {
    margin: 0;
    padding: 0;  
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #3a3a3a;
  }

  h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    }
  
  a, li {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 1rem;
  }
  
a:hover {
  color: #fffb6e;
  }
  
.wrapper {
  display: flex;
  flex-direction: column;
  }
  
.header {
  background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

.skull{
  display: inline-block;    
  color: whitesmoke;
  font-size:65px;
  z-index: 9999;
  transition: ease-in(4.5s);
  cursor: pointer;
}
.skull:hover {
  transform: skew(18deg) scale(1.5);
  color: #ffbe5a;
  z-index: 9999;
}  


#hero {
  position: relative;
  background-image: url('https://images.pexels.com/photos/12041770/pexels-photo-12041770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center center;
  width: 73.33%;
  height: 80vh;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4%;
  box-shadow: 0 0 10px 5px #3a3a3a;
  z-index: 1;
  perspective: 900px;
}



.back {
  position: relative;
  z-index: 9999;
  perspective: 1000px;
  background-image: linear-gradient(
    45deg,    
    #2A5470,
    #4C4177);
}
.back::after {
  content: '';
  position: absolute;
  background-color: #373e98;


}

.reason-image {
  display: flex;
  width: 60%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}


.reason-why-image {
  
  
  width: 100%;
  height: auto;
  margin: auto;
  box-shadow: 0 0 10px 5px #3a3a3a;
    
}



.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  flex-basis: 20%;
  background-image: linear-gradient(
    55deg,
    #ffbe5a,    
    #9E768F,
    #9FA4C4);
  border:3px solid whitesmoke;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  text-align: left;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 2%;  
}


iframe {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
 
}

.iframe-con {
  display: flex;
  justify-content: center;
}

.bottom-section {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}

.bottom-headers {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #963c96;
  margin-right: auto;
  margin-left: auto;
 
}

.bottom-headers:hover {
  color: #fffb6e;
}



input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #963c96;
  color:white;
}


input[type="text"] {
  text-align: center;
  background-color: #963c96;
}
input[type="email"] {
  text-align: center;
  background-color: #963c96;
}
textarea {
  margin-top: 2%;
  background-color: #963c96;
  color:white;
  box-shadow: 1px 1px 12px 0 #3a3a3a;
}
input::placeholder{
  color:white;
}
textarea::placeholder{
  color:white;
}





.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-gap: 6px;
}

.gallery img {
  width: 50%;
  height: auto;
  object-fit: cover;
}


.hidden {
    display: none;
}
  
#drop-down-mobile{
  background-color: #373e98;
  color: white;
  padding: 15px;
  font-size: 0.7rem;
  border: none;
  border-radius: 80%;
}


footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#3a3a3a;
  font-size:1rem;
}

.bottom-link {
  border: none;
  width: fit-content;
  height: fit-content;
  background-color: white;
  color:#FFD23C;
}
.bottom-link:hover {
  color:#373e98;
}









@media screen and (min-width: 819px) and (max-width:2700px) {
  
  .drop-down-mob {
    display: none;
   }
    
  #menu {
    display: block;
  }

  .drop-down-mob + #mob-menu {
    display: none;
   }

   #mob-menu {
    display: none;
   }
  .main {
    display: inline-block;
    align-items: center;
    text-align: center;

  }

  section {
    
    text-align: center;
    align-items: center;
    width: 80%;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

       
  }
  
  .packing .newsletter .contact label fieldset legend textarea h3 section {
    display: inline-block;
    
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
}


@media screen and (min-width: 350px) and (max-width:820px){
  .header header {
    position: fixed;
    top:0;
    left:0;
  }

  .reason-why-image {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
      
  }
  
  #hero {
    margin-top: 10%;
    width: 84%;
    height: 80vh;
  }
  
  .main {
    display: inline-block;
    align-items: center;
    text-align: center;

  }
  section {
    
    text-align: center;
    align-items: center;
    width: 80%;
    align-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

       
  }
  
  .packing .newsletter .contact label fieldset legend textarea h3 section {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  } 
  
  #menu {
   display: none;
  }
  
  #mob-menu {
   position: fixed;
   top: 3rem;
   left:3%;
   z-index: 9999;
   background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
   color: white;
   width: fit-content;
   height: 3rem;
   padding-right: 5px;
   font-size: 1rem;
   border: none;
   text-align: center;
   
   box-shadow: 2px 2px 2px 0 #3a3a3a;
   perspective: 800px;
 }
 .drop-down-mob {
  display: none;
 }
 #mob-menu:hover + .drop-down-mob {
  position: absolute;
  top: 12%;
  left: 10%;
  z-index: 9999;
  width: 35%;
  height: 8rem;
  display: block;
  line-height:1.8;
  background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
  border: rgba(255, 251, 110,0.7);
  color:white;
  box-shadow: -2px -2px 2px 0 #3a3a3a;
  }
  .hidden {
    display: block;
  }
  
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-bottom: 1%;
 }

 footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
}
  




@media screen and (max-width: 412px) {
    .header {
      margin-bottom: 5%;
      position: fixed;
    }
    
    
    #hero {
      margin-top: 10%;
      width: 84%;
      height: 80vh;
    }
    
    
    .main {
      display: inline-block;
    }
    
    
    #menu {
     display: none;
    }
    #mob-menu {
     position: fixed;
     top: 5%;
     left:3%;
     z-index: 9999;
     background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
     color: white;
     width: fit-content;
     height: 3rem;
     padding-right: 5px;
     font-size: 1rem;
     border: none;
     text-align: center;
     
     box-shadow: 2px 2px 2px 0 #3a3a3a;
     perspective: 800px;
   }
   
   .drop-down-mob {
    display: none;
   }

   #mob-menu:hover + .drop-down-mob {
    position: absolute;
    top: 12%;
    left: 10%;
    z-index: 9999;
    width: 35%;
    height: 8rem;
    display: block;
    line-height:1.8;
    background-image: linear-gradient(30deg, #ffbe5a, #963c96, #3C1874, #963c96);
    border: rgba(255, 251, 110,0.7);
    color:white;
    box-shadow: -2px -2px 2px 0 #3a3a3a;
    }
    
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding-bottom: 3%;
   } 
  
  
  }
